.pytest_cache/
__pycache__/
.idea/
dist/
common_instances/migrations/
.coverage
*.db
/node_modules
.env
*.bak
*.dat
*.dir
celerybeat-schedule
compose/
django_air/
docker/
staff/
static/
docker-compose.yml
manage.py
requirements.txt
